{
  "swagger": "2.0",
  "info": {
    "description": "\n# Overview\n\nAzul is a REST web service for querying metadata associated with\nboth experimental and analysis data from a data repository. In order\nto deliver response times that make it suitable for interactive use\ncases, the set of metadata properties that it exposes for sorting,\nfiltering, and aggregation is limited. Azul provides a uniform view\nof the metadata over a range of diverse schemas, effectively\nshielding clients from changes in the schemas as they occur over\ntime. It does so, however, at the expense of detail in the set of\nmetadata properties it exposes and in the accuracy with which it\naggregates them.\n\nAzul denormalizes and aggregates metadata into several different\nindices for selected entity types. Metadata entities can be queried\nusing the [Index](#operations-tag-Index) endpoints.\n\nA set of indices forms a catalog. There is a default catalog called\n`anvil13` which will be used unless a\ndifferent catalog name is specified using the `catalog` query\nparameter. Metadata from different catalogs is completely\nindependent: a response obtained by querying one catalog does not\nnecessarily correlate to a response obtained by querying another\none. Two catalogs can contain metadata from the same sources or\ndifferent sources. It is only guaranteed that the body of a\nresponse by any given endpoint adheres to one schema,\nindependently of which catalog was specified in the request.\n\nAzul provides the ability to download data and metadata via the\n[Manifests](#operations-tag-Manifests) endpoints. The\n`curl` format manifests can be used to\ndownload data files. Other formats provide various views of the\nmetadata. Manifests can be generated for a selection of files using\nfilters. These filters are interchangeable with the filters used by\nthe [Index](#operations-tag-Index) endpoints.\n\nAzul also provides a [summary](#operations-Index-get_index_summary)\nview of indexed data.\n\n## Data model\n\nAny index, when queried, returns a JSON array of hits. Each hit\nrepresents a metadata entity. Nested in each hit is a summary of the\nproperties of entities associated with the hit. An entity is\nassociated either by a direct edge in the original metadata graph,\nor indirectly as a series of edges. The nested properties are\ngrouped by the type of the associated entity. The properties of all\ndata files associated with a particular sample, for example, are\nlisted under `hits[*].files` in a `/index/samples` response. It is\nimportant to note that while each _hit_ represents a discrete\nentity, the properties nested within that hit are the result of an\naggregation over potentially many associated entities.\n\nTo illustrate this, consider a data file that is part of two\nprojects (a project is a group of related experiments, typically by\none laboratory, institution or consortium). Querying the `files`\nindex for this file yields a hit looking something like:\n\n```\n{\n    \"projects\": [\n        {\n            \"projectTitle\": \"Project One\"\n            \"laboratory\": ...,\n            ...\n        },\n        {\n            \"projectTitle\": \"Project Two\"\n            \"laboratory\": ...,\n            ...\n        }\n    ],\n    \"files\": [\n        {\n            \"format\": \"pdf\",\n            \"name\": \"Team description.pdf\",\n            ...\n        }\n    ]\n}\n```\n\nThis example hit contains two kinds of nested entities (a hit in an\nactual Azul response will contain more): There are the two projects\nentities, and the file itself. These nested entities contain\nselected metadata properties extracted in a consistent way. This\nmakes filtering and sorting simple.\n\nAlso notice that there is only one file. When querying a particular\nindex, the corresponding entity will always be a singleton like\nthis.\n\n\n## Contact us\n\nFor technical support please file an issue at\n[GitHub](https://github.com/DataBiosphere/azul/issues) or email\n`azul-group@ucsc.edu`. To report a security concern or misconduct please email\n`azul-group@ucsc.edu`.\n",
    "title": "azul-service-anvilprod",
    "version": "16.1"
  },
  "host": "service.explore.anvilproject.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "parameters": [],
        "responses": {
          "301": {
            "description": "A redirect to the Swagger UI"
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "Service unavailable. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "summary": "Redirect to the Swagger UI for interactive use of this REST API"
      }
    },
    "/fetch/manifest/files": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "anvil13",
            "description": "The name of the catalog to query.",
            "enum": [
              "anvil13",
              "anvil13-it"
            ],
            "in": "query",
            "name": "catalog",
            "required": false,
            "type": "string"
          },
          {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "default": "{}",
                  "example": {
                    "cellCount": {
                      "within": [
                        [
                          10000,
                          1000000000
                        ]
                      ]
                    }
                  },
                  "properties": {
                    "accessible": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "boolean"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_table": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.assay_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.data_modality": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.reference_assembly": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.anatomical_site": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.apriori_cell_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.biosample_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.biosample_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.disease": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.donor_age_at_collection": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "object"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.donor_age_at_collection_unit": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "biosamples.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "bundle_uuid": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "bundle_version": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.consent_group": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.data_modality": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.data_use_permission": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.dataset_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.duos_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.owner": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.principal_investigator": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.registered_identifier": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "datasets.title": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.diagnosis_age": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "object"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.diagnosis_age_unit": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.diagnosis_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.disease": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.onset_age": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "object"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.onset_age_unit": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.phenopacket": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.phenotype": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "diagnoses.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.donor_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.genetic_ancestry": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.organism_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.phenotypic_sex": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.reported_ethnicity": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "donors.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "entryId": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "fileVersion": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.data_modality": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.document_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.drs_uri": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.file_format": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.file_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.file_md5sum": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.file_name": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.file_size": {
                      "oneOf": [
                        {
                          "additionalProperties": false,
                          "properties": {
                            "is": {
                              "items": {
                                "format": "int64",
                                "nullable": true,
                                "type": "integer"
                              },
                              "minItems": 1,
                              "type": "array"
                            }
                          },
                          "required": [
                            "is"
                          ],
                          "type": "object"
                        },
                        {
                          "additionalProperties": false,
                          "properties": {
                            "within": {
                              "items": {
                                "items": {
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "maxItems": 2,
                                "minItems": 2,
                                "type": "array"
                              },
                              "minItems": 1,
                              "type": "array"
                            }
                          },
                          "required": [
                            "within"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    "files.is_supplementary": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.reference_assembly": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "files.source_datarepo_row_ids": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "source_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "source_spec": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "\nCriteria to filter entities from the search results.\n\nEach filter consists of a field name, an operator, and an array of field\nvalues. The available operators are \"is\", \"within\", \"contains\", and\n\"intersects\". Multiple filters are combined using \"and\" logic. For an\nentity to be included in the response, it must match all filters. How\nmultiple field values within a single filter are combined depends on the\noperator.\n\nFor the \"is\" operator, multiple values are combined using \"or\" logic.\nFor example, `{\"fileFormat\": {\"is\": [\"fastq\", \"fastq.gz\"]}}` selects\nentities where the file format is either \"fastq\" or \"fastq.gz\". For the\n\"within\", \"intersects\", and \"contains\" operators, the field values must\ncome in nested pairs specifying upper and lower bounds, and multiple\npairs are combined using \"and\" logic. For example, `{\"donorCount\":\n{\"within\": [[1,5], [5,10]]}}` selects entities whose donor organism\ncount falls within both ranges, i.e., is exactly 5.\n\nThe accessions field supports filtering for a specific accession and/or\nnamespace within a project. For example, `{\"accessions\": {\"is\": [\n{\"namespace\":\"array_express\"}]}}` will filter for projects that have an\n`array_express` accession. Similarly, `{\"accessions\": {\"is\": [\n{\"accession\":\"ERP112843\"}]}}` will filter for projects that have the\naccession `ERP112843` while `{\"accessions\": {\"is\": [\n{\"namespace\":\"array_express\", \"accession\": \"E-AAAA-00\"}]}}` will filter\nfor projects that match both values.\n\nThe organismAge field is special in that it contains two property keys:\nvalue and unit. For example, `{\"organismAge\": {\"is\": [{\"value\": \"20\",\n\"unit\": \"year\"}]}}`. Both keys are required. `{\"organismAge\": {\"is\":\n[null]}}` selects entities that have no organism age.\n\nSupported field names are: activities.activity_id, activities.activity_table, activities.activity_type, activities.assay_type, activities.data_modality, activities.document_id, activities.reference_assembly, activities.source_datarepo_row_ids, biosamples.anatomical_site, biosamples.apriori_cell_type, biosamples.biosample_id, biosamples.biosample_type, biosamples.disease, biosamples.document_id, biosamples.donor_age_at_collection, biosamples.donor_age_at_collection_unit, biosamples.source_datarepo_row_ids, bundle_uuid, bundle_version, datasets.consent_group, datasets.data_modality, datasets.data_use_permission, datasets.dataset_id, datasets.document_id, datasets.duos_id, datasets.owner, datasets.principal_investigator, datasets.registered_identifier, datasets.source_datarepo_row_ids, datasets.title, diagnoses.diagnosis_age, diagnoses.diagnosis_age_unit, diagnoses.diagnosis_id, diagnoses.disease, diagnoses.document_id, diagnoses.onset_age, diagnoses.onset_age_unit, diagnoses.phenopacket, diagnoses.phenotype, diagnoses.source_datarepo_row_ids, donors.document_id, donors.donor_id, donors.genetic_ancestry, donors.organism_type, donors.phenotypic_sex, donors.reported_ethnicity, donors.source_datarepo_row_ids, entryId, fileVersion, files.data_modality, files.document_id, files.drs_uri, files.file_format, files.file_id, files.file_md5sum, files.file_name, files.file_size, files.is_supplementary, files.reference_assembly, files.source_datarepo_row_ids, source_id, source_spec, accessible\n",
            "in": "query",
            "name": "filters",
            "required": false
          },
          {
            "description": "The desired format of the output.\n\n- `compact` \n(the default) for a compact, tab-separated manifest.\n\n\n- `terra.pfb` \nfor a manifest in the [PFB format][2]. This format is mainly\nused for exporting data to Terra.\n\n\n- `curl` \nfor a [curl configuration file][3] manifest. This manifest can\nbe used with the curl program to download all the files listed\nin the manifest.\n\n\n- `verbatim.jsonl` \nfor a verbatim manifest in [JSONL][4] format. Each line contains\nan unaltered metadata entity from the underlying repository.\n\n\n- `verbatim.pfb` \nfor a verbatim manifest in the [PFB format][2]. This format is\nmainly used for exporting data to Terra.\n\n\n[1]: https://software.broadinstitute.org/firecloud/documentation/article?id=10954\n\n[2]: https://github.com/uc-cdis/pypfb\n\n[3]: https://curl.haxx.se/docs/manpage.html#-K\n\n[4]: https://jsonlines.org/",
            "enum": [
              "compact",
              "terra.pfb",
              "curl",
              "verbatim.jsonl",
              "verbatim.pfb"
            ],
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "\nWhen handling this response, clients should wait the\nnumber of seconds given in the `Retry-After` property of\nthe response body and then make another XHR request to\nthe URL specified in the `Location` property.\n\nFor a detailed description of these properties see the\ndocumentation for the respective response headers\ndocumented under \n[PUT /manifest/files][1].\n\n[1]: #operations-Manifests-put_manifest_files\n\n\nNote: For a 200 status code response whose body has the\n`Status` property set to 302, the `Location` property\nmay reference the [GET /manifest/files/{token}][2]\nendpoint and that endpoint may return yet another\nredirect, this time a genuine (not emulated) 302 status\nredirect to the actual location of the manifest.\n\n[2]: #operations-Manifests-get_manifest_files__token_\n\nNote: A 200 status response with a `Status` property of\n302 in its body additionally contains a `CommandLine`\nproperty that lists, for a number of commonly used\nshells, a command line suitable for downloading the\nmanifest.\n",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "CommandLine": {
                  "additionalProperties": false,
                  "properties": {
                    "bash": {
                      "type": "string"
                    },
                    "cmd.exe": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "cmd.exe",
                    "bash"
                  ],
                  "type": "object"
                },
                "Location": {
                  "format": "url",
                  "type": "string"
                },
                "Retry-After": {
                  "format": "int64",
                  "type": "integer"
                },
                "Status": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "required": [
                "Status",
                "Location"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "Service unavailable. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Manifests"
        ],
        "description": "\nCreate a manifest preparation job, returning a 200 status\nresponse whose JSON body emulates the HTTP headers that would be\nfound in a response to an equivalent request to the [PUT\n/manifest/files][1] endpoint.\n\nWhenever client-side JavaScript code is used in a web\napplication to request the preparation of a manifest from Azul,\nthis endpoint should be used instead of [PUT\n/manifest/files][1]. This way, the client can use XHR to make\nthe request, retaining full control over the handling of\nredirects and enabling the client to bypass certain limitations\non the native handling of redirects in web browsers. For\nexample, most browsers ignore the `Retry-After` header in\nredirect responses, causing them to prematurely exhaust the\nupper limit on the number of consecutive redirects, before the\nmanifest generation job is done.\n\n[1]: #operations-Manifests-put_manifest_files\n\nAny of the query parameters documented below can alternatively be passed\nas a property of a JSON object in the body of the request. This can be\nuseful in case the value of the `filters` query parameter causes the URL\nto exceed the maximum length of 8192 characters, resulting in a 413\nRequest Entity Too Large response.\n\nThe request `PUT /fetch/manifest/files?filters={…}`, for example, is equivalent to  `PUT /fetch/manifest/files`\nwith the body `{\"filters\": \"{…}\"}` in which any double quotes or\nbackslash characters inside `…` are escaped with another backslash. That\nescaping is the requisite procedure for embedding one JSON structure\ninside another.\n",
        "summary": "Initiate the preparation of a manifest via XHR"
      }
    },
    "/fetch/manifest/files/{token}": {
      "parameters": [
        {
          "description": "\nAn opaque string representing the manifest preparation job\n",
          "in": "path",
          "name": "token",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nWhen handling this response, clients should wait the\nnumber of seconds given in the `Retry-After` property of\nthe response body and then make another XHR request to\nthe URL specified in the `Location` property.\n\nFor a detailed description of these properties see the\ndocumentation for the respective response headers\ndocumented under \n[GET /manifest/files/{token}][1].\n\n[1]: #operations-Manifests-get_manifest_files__token_\n\n\nNote: For a 200 status code response whose body has the\n`Status` property set to 302, the `Location` property\nmay reference the [GET /manifest/files/{token}][2]\nendpoint and that endpoint may return yet another\nredirect, this time a genuine (not emulated) 302 status\nredirect to the actual location of the manifest.\n\n[2]: #operations-Manifests-get_manifest_files__token_\n\nNote: A 200 status response with a `Status` property of\n302 in its body additionally contains a `CommandLine`\nproperty that lists, for a number of commonly used\nshells, a command line suitable for downloading the\nmanifest.\n",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "CommandLine": {
                  "additionalProperties": false,
                  "properties": {
                    "bash": {
                      "type": "string"
                    },
                    "cmd.exe": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "cmd.exe",
                    "bash"
                  ],
                  "type": "object"
                },
                "Location": {
                  "format": "url",
                  "type": "string"
                },
                "Retry-After": {
                  "format": "int64",
                  "type": "integer"
                },
                "Status": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "required": [
                "Status",
                "Location"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "Service unavailable. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Manifests"
        ],
        "description": "\nCheck on the status of an ongoing manifest preparation job,\nreturning a 200 status response whose JSON body emulates the\nHTTP headers that would be found in a response to an equivalent\nrequest to the [GET /manifest/files/{token}][1] endpoint.\n\nWhenever client-side JavaScript code is used in a web\napplication to request the preparation of a manifest from Azul,\nthis endpoint should be used instead of [GET\n/manifest/files/{token}][1]. This way, the client can use XHR to\nmake the request, retaining full control over the handling of\nredirects and enabling the client to bypass certain limitations\non the native handling of redirects in web browsers. For\nexample, most browsers ignore the `Retry-After` header in\nredirect responses, causing them to prematurely exhaust the\nupper limit on the number of consecutive redirects, before the\nmanifest generation job is done.\n\n[1]: #operations-Manifests-get_manifest_files__token_\n",
        "summary": "Determine status of a manifest preparation job via XHR"
      }
    },
    "/fetch/repository/files/{file_uuid}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "anvil13",
            "description": "The name of the catalog to query.",
            "enum": [
              "anvil13",
              "anvil13-it"
            ],
            "in": "query",
            "name": "catalog",
            "required": false,
            "type": "string"
          },
          {
            "description": "The UUID of the file to be returned.",
            "in": "path",
            "name": "file_uuid",
            "required": true,
            "type": "string"
          },
          {
            "description": "\nThe version of the file to be returned. File versions are opaque\nstrings with only one documented property: they can be\nlexicographically compared with each other in order to determine\nwhich version is more recent. If this parameter is omitted then the\nmost recent version of the file is returned.\n",
            "in": "query",
            "name": "version",
            "required": false,
            "type": "string"
          },
          {
            "description": "\nThe desired name of the file. The given value will be included\nin the Content-Disposition header of the response. If absent, a\nbest effort to determine the file name from metadata will be\nmade. If that fails, the UUID of the file will be used instead.\n",
            "in": "query",
            "name": "fileName",
            "required": false,
            "type": "string"
          },
          {
            "description": "\nIf 0, the client is responsible for honoring the waiting period\nspecified in the Retry-After response header. If 1, the server\nwill delay the response in order to consume as much of that\nwaiting period as possible. This parameter should only be set to\n1 by clients who can't honor the `Retry-After` header,\npreventing them from quickly exhausting the maximum number of\nredirects. If the server cannot wait the full amount, any amount\nof wait time left will still be returned in the Retry-After\nheader of the response.\n",
            "format": "int64",
            "in": "query",
            "name": "wait",
            "required": false,
            "type": "integer"
          },
          {
            "description": "\nIf the underlying repository offers multiple replicas of the\nrequested file, use the specified replica. Otherwise, this\nparameter is ignored. If absent, the only replica — for\nrepositories that don't support replication — or the default\nreplica — for those that do — will be used.\n",
            "in": "query",
            "name": "replica",
            "required": false,
            "type": "string"
          },
          {
            "description": "Do not use. Reserved for internal purposes.",
            "format": "int64",
            "in": "query",
            "name": "requestIndex",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Do not use. Reserved for internal purposes.",
            "in": "query",
            "name": "drsUri",
            "required": false,
            "type": "string"
          },
          {
            "description": "Reserved. Do not pass explicitly.",
            "in": "query",
            "name": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "\nEmulates the response code and headers of\n/repository/files/{file_uuid} while bypassing\nthe default user agent behavior. Note that the status\ncode of a successful response will be 200 while the\n`Status` field of its body will be 302.\n\nThe response described here is intended to be processed by\nclient-side Javascript such that the emulated headers can be\nhandled in Javascript rather than relying on the native\nimplementation by the web browser.\n",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "Location": {
                  "type": "string"
                },
                "Status": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "required": [
                "Status",
                "Location"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "Service unavailable. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Repository"
        ],
        "summary": "Request a URL for downloading a given data file"
      }
    },
    "/health": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe checked resources\nare healthy.\n\nThe response consists of the following keys:\n\n* `other_lambdas` \nIndicates whether the companion REST API responds to HTTP requests.\n* `queues` \nReturns information about the SQS queues used by the indexer and the\nmirror.\n* `progress` \nThe number of Data Store bundles pending to be indexed and the number\nof index documents in need of updating.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`true`.\n\n\nAll of the nested `up` keys\nare `true`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "other_lambdas": {},
                "progress": {},
                "queues": {},
                "up": true
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      true
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    true
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "\nAt least one of the checked resources\nis not healthy.\n\nThe response consists of the following keys:\n\n* `other_lambdas` \nIndicates whether the companion REST API responds to HTTP requests.\n* `queues` \nReturns information about the SQS queues used by the indexer and the\nmirror.\n* `progress` \nThe number of Data Store bundles pending to be indexed and the number\nof index documents in need of updating.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`false`.\n\n\nAt least one of the nested `up` keys\nis `false`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "other_lambdas": {},
                "progress": {},
                "queues": {},
                "up": false
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      false
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    false
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "description": "\nHealth check of the service REST API and all\nresources it depends on. This may take long time to complete\nand exerts considerable load on the API. For that reason it\nshould not be requested frequently or by automated\nmonitoring facilities that would be better served by the\n[`/health/fast`](#operations-Auxiliary-get_health_fast) or\n[`/health/cached`](#operations-Auxiliary-get_health_cached)\nendpoints.\n",
        "summary": "Complete health check"
      }
    },
    "/health/basic": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe checked resources\nare healthy.\n\nThe response consists of the following keys:\n\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`true`.\n\n",
            "examples": {
              "application/json": {
                "up": true
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      true
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    true
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "\nAt least one of the checked resources\nis not healthy.\n\nThe response consists of the following keys:\n\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`false`.\n\n",
            "examples": {
              "application/json": {
                "up": false
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      false
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    false
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "description": "\nHealth check of only the REST API itself, excluding other\nresources that it depends on. A 200 response indicates that\nthe service is reachable via HTTP(S) but nothing\nmore.\n",
        "summary": "Basic health check"
      }
    },
    "/health/cached": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe checked resources\nare healthy.\n\nThe response consists of the following keys:\n\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`true`.\n\n\nAll of the nested `up` keys\nare `true`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "up": true
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      true
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    true
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "\nAt least one of the checked resources\nis not healthy.\n\nThe response consists of the following keys:\n\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`false`.\n\n\nAt least one of the nested `up` keys\nis `false`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "up": false
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      false
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    false
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "description": "\nReturn a cached copy of the\n[`/health/fast`](#operations-Auxiliary-get_health_fast)\nresponse. This endpoint is optimized for continuously\nrunning, distributed health monitors such as Route 53 health\nchecks. The cache ensures that the service is not\noverloaded by these types of health monitors. The cache is\nupdated every minute.\n",
        "summary": "Cached health check for continuous monitoring"
      }
    },
    "/health/fast": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe checked resources\nare healthy.\n\nThe response consists of the following keys:\n\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`true`.\n\n\nAll of the nested `up` keys\nare `true`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "up": true
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      true
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    true
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "\nAt least one of the checked resources\nis not healthy.\n\nThe response consists of the following keys:\n\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`false`.\n\n\nAt least one of the nested `up` keys\nis `false`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "up": false
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      false
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    false
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "description": "\nPerformance-optimized health check of the REST API and other\ncritical resources tht it depends on. This endpoint can be\nrequested more frequently than\n[`/health`](#operations-Auxiliary-get_health) but\nperiodically scheduled, automated requests should be made to\n[`/health/cached`](#operations-Auxiliary-get_health_cached).\n",
        "summary": "Fast health check"
      }
    },
    "/health/{keys}": {
      "parameters": [
        {
          "collectionFormat": "csv",
          "description": "\nA comma-separated list of keys selecting the health\nchecks to be performed. Each key corresponds to an\nentry in the response.\n",
          "in": "path",
          "items": {
            "enum": [
              "api_endpoints",
              "opensearch",
              "other_lambdas",
              "progress",
              "queues"
            ],
            "type": "string"
          },
          "name": "keys",
          "required": true,
          "type": "array"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe checked resources\nare healthy.\n\nThe response consists of the following keys:\n\n* `other_lambdas` \nIndicates whether the companion REST API responds to HTTP requests.\n* `queues` \nReturns information about the SQS queues used by the indexer and the\nmirror.\n* `progress` \nThe number of Data Store bundles pending to be indexed and the number\nof index documents in need of updating.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`true`.\n\n\nAll of the nested `up` keys\nare `true`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "other_lambdas": {},
                "progress": {},
                "queues": {},
                "up": true
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      true
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    true
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "\nAt least one of the checked resources\nis not healthy.\n\nThe response consists of the following keys:\n\n* `other_lambdas` \nIndicates whether the companion REST API responds to HTTP requests.\n* `queues` \nReturns information about the SQS queues used by the indexer and the\nmirror.\n* `progress` \nThe number of Data Store bundles pending to be indexed and the number\nof index documents in need of updating.\n* `api_endpoints` \nIndicates whether important service API endpoints are operational.\n* `opensearch` \nIndicates whether the OpenSearch cluster is responsive.\n* `up` \nindicates the overall result of the health check\n\n\nThe top-level `up` key of the response is\n`false`.\n\n\nAt least one of the nested `up` keys\nis `false`.\n",
            "examples": {
              "application/json": {
                "api_endpoints": {},
                "opensearch": {},
                "other_lambdas": {},
                "progress": {},
                "queues": {},
                "up": false
              }
            },
            "schema": {
              "additionalProperties": {
                "additionalProperties": true,
                "properties": {
                  "up": {
                    "enum": [
                      false
                    ],
                    "type": "boolean"
                  }
                },
                "required": [
                  "up"
                ],
                "type": "object"
              },
              "properties": {
                "up": {
                  "enum": [
                    false
                  ],
                  "type": "boolean"
                }
              },
              "required": [
                "up"
              ],
              "type": "object"
            }
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Auxiliary"
        ],
        "description": "\nThis endpoint allows clients to request a health check on a\nspecific set of resources. Each resource is identified by a\n*key*, the same key under which the resource appears in a\n[`/health`](#operations-Auxiliary-get_health) response.\n",
        "summary": "Selective health check"
      }
    },
    "/index/catalogs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "\nThe name of the default catalog and a list of all available\ncatalogs. For each catalog, the response includes the name\nof the atlas the catalog belongs to, a flag indicating\nwhether the catalog is for internal use only as well as the\nnames and types of plugins currently active for the catalog.\nFor some plugins, the response includes additional\nconfiguration properties, such as the sources used by the\nrepository plugin to populate the catalog or the set of\navailable [indices][1].\n\n[1]: #operations-Index-get_index__entity_type_\n",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "catalogs": {
                  "additionalProperties": {
                    "additionalProperties": false,
                    "properties": {
                      "atlas": {
                        "type": "string"
                      },
                      "internal": {
                        "type": "boolean"
                      },
                      "mirror_limit": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "plugins": {
                        "additionalProperties": {
                          "additionalProperties": false,
                          "properties": {
                            "indices": {
                              "additionalProperties": {
                                "additionalProperties": false,
                                "properties": {
                                  "default_order": {
                                    "type": "string"
                                  },
                                  "default_sort": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "default_sort",
                                  "default_order"
                                ],
                                "type": "object"
                              },
                              "properties": {},
                              "type": "object"
                            },
                            "name": {
                              "type": "string"
                            },
                            "sources": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "name"
                          ],
                          "type": "object"
                        },
                        "properties": {},
                        "type": "object"
                      }
                    },
                    "required": [
                      "atlas",
                      "internal",
                      "plugins"
                    ],
                    "type": "object"
                  },
                  "properties": {},
                  "type": "object"
                },
                "default_catalog": {
                  "type": "string"
                }
              },
              "required": [
                "default_catalog",
                "catalogs"
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request. The request was rejected due to malformed parameters. It must not be retried without modification."
          },
          "429": {
            "description": "Too many requests. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "500": {
            "description": "Internal application error. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "502": {
            "description": "Bad gateway. The frontend server received an invalid response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          },
          "503": {
            "description": "Service unavailable. \nClients should wait the number of seconds specified in the\nRetry-After response header and then retry the request.\n"
          },
          "504": {
            "description": "Gateway timeout. The frontend server did not receive a timely response from the backend server. \nIt is unlikely that a retry will be successful until the problem is\nresolved by an operator.\n"
          }
        },
        "tags": [
          "Index"
        ],
        "summary": "List all available catalogs."
      }
    },
    "/index/summary": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "anvil13",
            "description": "The name of the catalog to query.",
            "enum": [
              "anvil13",
              "anvil13-it"
            ],
            "in": "query",
            "name": "catalog",
            "required": false,
            "type": "string"
          },
          {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "default": "{}",
                  "example": {
                    "cellCount": {
                      "within": [
                        [
                          10000,
                          1000000000
                        ]
                      ]
                    }
                  },
                  "properties": {
                    "accessible": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "type": "boolean"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_id": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_table": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
                    },
                    "activities.activity_type": {
                      "additionalProperties": false,
                      "properties": {
                        "is": {
                          "items": {
                            "nullable": true,
                            "type": "string"
                          },
                          "minItems": 1,
                          "type": "array"
                        }
                      },
                      "required": [
                        "is"
                      ],
                      "type": "object"
[...]
